* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.header-container {
    display: flex;
    border: 1px solid black;
    background-color: lightblue;
    justify-content: space-between;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.link-two {
    margin-left: 20px;
    margin-right: 20px;
}

.link-three {
    margin-right: 40px;
}

.logo {
    margin-left: 40px;
}