@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.first-section {
    background-color: #1F2937;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 160px;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-left,
.navbar-right{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    justify-content: flex-end;
    margin-right: 80px;
}
.one,
.two{
    margin-right: 40px;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    margin: 50px;
}

.content-left,
.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-link {
    margin-left: 40px;
}

img {
    margin: 80px;
}

button {
    margin: 50px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: #3882f6;
    border-radius: 10px;
    font-weight: bold;
    color: white;

}