@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.first-section {
    background-color: #1F2937;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 160px;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-left,
.navbar-right{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    justify-content: flex-end;
    margin-right: 200px;
}
.one,
.two{
    margin-right: 40px;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    margin: 50px;
}

.content-left,
.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-link {
    margin-left: 40px;
}

img {
    margin: 80px;
}

button {
    margin: 50px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: #3882f6;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}

.row-of-blue-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.box-blue img{
    display: block;
    border: 2px solid #3882f6;
    border-radius: 15px;
    margin: 5px 20px;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.p-second {
    text-align: center;
    font-size: 28px;
    margin-bottom: 100px;
}

.third-section {
    display: flex;
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
}

.author {
    font-size: 28px;
    margin-left: 1000px;
    margin-top: 50px;
    font-weight: bolder;
    align-items: center;
}

.fourth-section{
    display: flex;
    justify-content: center;
}

.center-box{
    display: flex;
    background-color: #3882f6;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    margin: 100px;
    width: 65%;
    justify-content: space-evenly;
    color: white;
    font-size: 26px;
}

.call-container{
    display: flex;
    flex-direction: column;
}

.call-to{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}

.sign-up-two{
    border: 3px solid white;
}

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
    padding: 60px;
    font-size: 26px;
}